.LaunchPage {
  text-align: center;
}

.LaunchPage-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .LaunchPage-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.LaunchPage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LaunchPage-link {
  color: #61dafb;
}

.launch-div {
  background: linear-gradient(180deg, #f3e3d9 0%, #e6c0a9 42.72%);
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #a81c30;
  font-weight: 400;
  text-align: center;
  padding: 6px 30px 80px;
}
.img-1-launch {
  aspect-ratio: 1.18;
  object-fit: auto;
  object-position: center;
  width: 149px;
  max-width: 100%;
}
.img-2-launch {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 230px;
  fill: url(https://cdn.builder.io/api/v1/image/assets/TEMP/a70c5ae88960138f4a485be4696a73e28601120eb275aaec5b1fad4e1f0ff601?apiKey=872a26b640bf4d309e24a74b10b52b7f&),
    lightgray -127.916px -63px / 193.405% 129.13% no-repeat;
  margin-top: 34px;
  max-width: 100%;
}
.div-2-launch {
  align-self: stretch;
  margin-top: 55px;
  font: italic 25px Inter, sans-serif;
}
.div-3-launch {
  color: #584b4d;
  font-family: Inter, sans-serif;
  font-weight: 300;
  margin-top: 15px;
}
.div-4-launch {
  align-self: stretch;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  gap: 20px;
}

.div-5-launch {
  font-family: Inter, sans-serif;
  font-size: 20px;
  border-radius: 30px;
  background-color: #fff;
  justify-content: center;
  flex-grow: 1;
  padding: 7px 40px;
}

.div-6-launch {
  font-family: Inter, sans-serif;
  font-size: 20px;
  border-radius: 30px;
  border-color: #a81c30;
  background-color: #a81c30;
  justify-content: center;
  color: white;
  flex-grow: 1;
  padding: 7px 40px;
}