.ChatRoom {
  text-align: center;
}

.ChatRoom-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .ChatRoom {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ChatRoom-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ChatRoom-link {
  color: #61dafb;
}

@keyframes ChatRoom-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div {
  background: linear-gradient(180deg, #f3e3d9 0%, #e6c0a9 42.72%);
  display: flex;
  max-width: 100%;
  padding-top: 16px;
  flex-direction: column;
}
.back-button {
  border: none;
  align-self: start;
}
.img {
  aspect-ratio: 0.72;
  object-fit: auto;
  width: 18px;
  stroke-width: 3px;
  stroke: #a81c30;
  border-color: rgba(168, 28, 48, 1);
  border-style: none;
  margin-left: 14px;
}
.div-2 {
  border-radius: 100px 0px 0px 0px;
  background-color: #fff;
  display: flex;
  margin-top: 5px;
  width: 100%;
  flex-direction: column;
  padding: 22px 8px;
}
.div-3 {
  align-self: start;
  display: flex;
  margin-left: 22px;
  gap: 0px;
  font-size: 25px;
  color: #a81c30;
  font-weight: 400;
  white-space: nowrap;
  line-height: 80%;
}
.img-2 {
  aspect-ratio: 1.33;
  object-fit: auto;
  object-position: center;
  width: 132px;
  fill: url(<path-to-image>),
    lightgray -18px -22.486px / 158.182% 148.151% no-repeat;
  max-width: 100%;
}
.div-4 {
  font-family: Inter, sans-serif;
  align-self: start;
  flex-grow: 1;
}
.div-5 {
  background-color: #efd8cb;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 80px 0 10px;
}
.div-6 {
  display: flex;
  margin-top: 377px;
  flex-direction: column;
  font-size: 15px;
  color: #584b4d;
  font-weight: 300;
  padding: 0 9px;
}

.img-3 {
  aspect-ratio: 1.19;
  object-fit: auto;
  object-position: center;
  width: 51px;
  margin-top: 6px;
}
.div-9 {
  font-family: Inter, sans-serif;
  border-radius: 30px;
  background-color: #fff;
  justify-content: center;
  padding: 10px 18px;
}
.div-10 {
  display: flex;
  margin-right: 11px;
  align-items: start;
  gap: 7px;
}
.img-4 {
  aspect-ratio: 1.15;
  object-fit: auto;
  object-position: center;
  width: 31px;
}
.div-11 {
  border-radius: 30px;
  background-color: #fff;
  width: 250px;
  height: 30px;
}
.img-5 {
  aspect-ratio: 0.93;
  object-fit: auto;
  object-position: center;
  width: 29px;
  align-self: stretch;
}